

body,html{
    height: 100%;
    margin: 0;
    background-image: url(images/fog.jpg);
    background-size:cover;
    /*background-size: 120%;*/
    /*background-position:50% 50%;*/
    /*animation-name:panning;*/
    /*animation-duration:5s ;*/
}

/*@keyframes panning{*/
/*    from {background-position:40% 50%;}*/
    /*to  {background-position:42.5% 50%;}*/
    /*50%   {background-position:45% 50%;}*/
    /*75%   {background-position:47.5% 50%;}*/
/*    to  {background-position:50% 50%;}*/
/*}*/

#main{
    /*background-color:white;*/
    width:300px;
    height:330px;
    border:2px solid;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    margin-top:15%;
    padding:0;
    padding-bottom: 20px;
    padding-top:0;
    border-radius:10px;
    display:none;
    
}

.heading {
    font-family: 'Raleway', sans-serif;
    color:white;
    background-color:#1b191a !important;
    text-align: center;
    margin:0;
    margin-bottom: 30px;
    padding-top:5px;
    padding-bottom: 5px;
}

#location,
#description,
#temperature{
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

#temperature{
    border: 2px solid;
    margin-left:auto;
    margin-right:auto;
    width:80px;
    border-radius:8px;
    padding-top:3px;
    padding-bottom:3px;
}
#temperature:hover{
    cursor: pointer;
}


#location{
    margin:0;
    font-family: 'Raleway', sans-serif;
}

.icon{
    display:block;
    margin-left: auto;
    margin-right:auto;
}

#refresh{
    font-family: 'Raleway', sans-serif;
    width:80px;
    border:2px solid;
    border-radius:8px;
    text-align:center;
    margin-left: auto;
    margin-right:auto;
}

#refresh:hover{
    border:2px solid black;
    border-radius:5px;
    background-color:black;
    color:white;
    cursor:pointer;
}

#credit{
    font-family: sans-serif;
    color:white;
    opacity:0.5;
    position:fixed;
    bottom:10px;
    right:20px;
    text-decoration:none;
}

#credit:hover{
    transform:scale(1.02);
    cursor:pointer;
}

.loader{
    text-align:center;
    display: none;
}

.disappear{
    display:none;
}