.heading {
    color:red;
    background-color:lightblue !important;
    text-align: center;
}

#location,
#description,
#temperature{
    text-align:center;
}

.icon{
    display:block;
    margin-left: auto;
    margin-right:auto;
}

#refresh{
    display:block;
    margin-left: auto;
    margin-right:auto; 
}